.project-main{
    min-height: calc(100vh - 40px);
    background-color: azure;
    position: relative;
    display: flex;
    flex-direction: column;
    margin:20px;
    padding: 20px;
    font-size: 30px;
}
 .project-title{
    height: 100px;
    line-height: 100px;
    background-color: aquamarine;
 }
.project-body{
    min-height: calc(100vh - 180px);
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: rgb(167, 255, 226);
}
.project-left{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:300px;
    min-height: inherit;
    background-color: rgb(123, 226, 192);
}
.project-right{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: inherit;
}
.project-img{
    width:100px;
    height:100px;
    margin: 25px;
}
.project-description{
    font-size: 25px;
    position: relative;
}
.project-points{
    align-items: left;
    text-align: left;
    font-size: 20px;
    height: 100%;
}
.project-point{
    font-size: 20px;
    position: relative;
    margin: 10px;
}
/* old code before */
/* .logo-div {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 25%;
  height: 30%;
}
.logo-img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 15%;
  left: 5%;
}
.projects-main{
  position: relative;
  min-height: 100vh;
  background-image: linear-gradient( #222222 , #111111);
}
.project-main{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
  min-height: 300px;
  background-color: azure;
  margin:20px;
  padding: 20px;
}
.project-main:nth-of-type(even){
  flex-direction: row-reverse;
}
.project-data{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: calc(40% - 10px);
  background-color: seagreen;
}
.project-description{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: calc(60% - 10px);

  padding: 20px;
  background-color: seagreen;
}
.project-name{
  font-size: 30px;
}

@media only screen and (max-width: 600px) {
  .proj-col {
    width: 100%;
  }
}
@media only screen and (min-width: 600px) and (max-width: 900px) {
  .proj-col {
    width: 50%;
  }
}  */