.github-stats{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100vw;
    min-height: 100vh;
    background-image: linear-gradient( #222222 , #111111);
    color: white;
}


.github-stats-left{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
}
.github-stats-right{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
@media only screen and (max-width: 900px) {
    .github-stats{
        flex-direction: column;
    }
    .github-stats-mobile-img{
        max-width: 100%;
    }
    .github-stats-left{
        height: unset;
        
    }
}