.App {
  background-color: #222c37;
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  overflow: hidden;
  overflow-y: hidden;
}
.right-block {
  position: fixed;
  bottom: 0px;
  right: 0px;
}
.left-block {
  width: 95%;
  float: left;
}
@media only screen and (max-width: 600px) {
  .right-block {
    position: fixed;
    bottom: 0px;
  }
  .left-block {
    width: 100%;
  }
}
@media only screen and (min-width: 600px) and (max-width: 900px) {
  .job-col {
    width: 50%;
  }
}
