.App {
  background-color: #222c37;
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  overflow: hidden;
  overflow-y: hidden;
}
.contact-right {
  position: fixed;
  bottom: 0px;
  right: 0px;
}
